<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.swensun.swutils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true"
                 android:supportsRtl="true">

        <provider
                android:authorities="${applicationId}.UtilContentProvider"
                android:name=".util.UtilContentProvider"
                android:exported="false"
                android:multiprocess="true"/>
    </application>

</manifest>
